.titulo-noticia {
	height: 88px;
}

.descripcion-noticia {
	height: 104px;
}

.lista-categoria {
	width: 100%;
	display: block;
}

.icono-lista {
	float: right;
	padding-top: 5px;
}

.pagination > li > a, .pagination > li > span {
    margin-left: 0px;
    margin-right: 0px;
}

@media screen and (min-width: 1440px){
	.titulo-noticia{
		height: 88px;
		font-size: 28px;
	}
	.descripcion-noticia{
		height: 104px;
	}
}

@media screen and (min-width: 1199px){
	.titulo-noticia{
		height: 60px;
    	font-size: 23px;
	}
	.descripcion-noticia{
		height: 124px;
	}
}

@media screen and (min-width: 768px){
	.titulo-noticia{
		height: auto;
	}
	.descripcion-noticia{
		height: auto;
	}
	.alert {
	    margin-bottom:0px;
	}
	.wrap-contact2 {
	    padding: 60px 50px 60px 50px;
	}
}