/**seccion top menu - menu **/
.top_menu{
	padding:  20px;
	background-color: #0091cd;
	color: white;
	font-size: 12px;
	font-weight: 300;
}
.logo{
	width: 200px;
    height: 100px;
}
@media only screen and (max-width: 600px) {
	.logo{
		width: 150px;
    	height: 80px;
    	margin-top: 60px;	
    	}	
}
.caret {
    display: none;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.navbar-default .navbar-nav > li > a {
    color: #1a3162;
    font-size: 16px;
    font-weight: 500;
}
.navbar-brand {
    float: left;
    height: 30px;
    padding: 15px 50px;
    font-size: 18px;
    line-height: 20px;
    margin-top: -75px;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px !important;
    border: 1px solid transparent;
}
.navbar-default {
    background-color: #ffffff;
}
@media only screen and (max-width: 600px) {
	.navbar-brand {
	    float: left;
	    height: 50px;
	    padding: 15px 20px;
	    font-size: 18px;
	    line-height: 20px;
	    margin-top: -90px;
	}
	
}
.navbar-default .navbar-toggle {
    border-color: #0191ce;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #0191cf;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #00519c;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #ffffff;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 2px solid transparent;
    border-radius: 0px; 
}
.navbar-collapse {
    padding-right: 15px;
    padding-left: 35px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 5px;
    line-height: 20px;
}


/** seccion slider  derecho **/
.bg_slide_de{
	background: url(../images/1.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
}
.item{
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;

}
.textowl{
	color: white;
	font-size: 24px;
	font-weight: 100;
	padding: 20px;
	background-color: #f9f9f950;
}
.textowlp span{
	color: white;
	font-size: 32px;
	font-weight: normal;
}




/** seccion slider  izquierdo **/
.bg_slide_iz{
/*	background: url(../images/bitmap.png);*/
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	margin: 0px;
	padding: 0px;
}
.items{
	height: 400px !important;
}

.lines{
	border-color: 2px solid black;
}

/** Seccion search finder**/
.sea_textp{
	font-size: 42px;
	font-weight: bold !important;
	text-align: center;
	color: #000;
	letter-spacing: 2px;

}
.sea_texts{}

.btnt {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
   /* border-radius: 4px;*/
}

.btn-defaulte {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.form-controls {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
   /* border-radius: 4px;*/
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}





/** CARDS **/

.seccion_bg{
	background-color: #f7f7f7;
}
.card_p {
    font-size: 27px;
    font-weight: 300;
    margin: 0px;
    color: grey;
    line-height: 24px;
}
.card_title{
	background-color: #20233e;
	color: white;
}
.card_home{
	color: white;
	font-weight: 500;
	line-height: 30px;
}
.card_price{
	font-size: 22px;
	color: #95c41f;
	font-weight: 500;
}
.card_adres{
	color: #f7f7f7;
	font-weight: 300;
	font-size: 12px;
	text-align: left;
	padding-left: 14px;
}

.slushi{
	height: 430px !important;
}


.card_list{
	list-style: none;
	color: white;
	padding: 0px;
}


.card_list li{
	display: inline-block;
	padding: 5px;
}

.botton_title{
	margin: 0px;
    padding: 10px 0px;
    background-color: #00000050;

}




/** card rents**/
.card_rent{
	height: 300px !important;
}
.rent_img{
	background-repeat: no-repeat;
    background-size: cover;
}
.rent_valor{
	font-size: 20px;
	color: #95c41f;
	font-weight: normal;
}
.rent_text{
	font-size: 46px;
	font-weight: 900;
	margin: 0px;
	color: #000;
}
.rent_p{
font-size: 25px;
    font-weight: 300;
    margin: 0px;
    color: grey;
    line-height: 24px;
}
.botton_rent {
    margin: 0px;
    padding: 7px;
    background-color: #20233e;
    width: 160px;
    position: relative;
    margin-top: -48px;
    float: right;
}
.rent_shadow{
    border: 1px solid #9e9e9e50;
}
.rent_item {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}
.rent_titl{
    margin: 15px;
    color: grey;
    font-size: 16px;
}
.rent_list{
	list-style: none;
	color: grey;
	padding: 0px;
}
.rent_list li{
	display: inline-block;
	padding: 5px;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 200px;
}




/** About **/

.abt_img{
padding: 30px;
}
.about{
	font-size: 72px;
    color: #e0dfdf;
    font-weight: 900;
    letter-spacing: 7px;
}
@media only screen and (max-width: 600px) {
	.about{
		font-size: 52px;
	    color: #e0dfdf;
	    font-weight: 900;
	    letter-spacing: 7px;
	}
}
.abt_nom{
font-size: 32px;
    color: #000;
    font-weight: 500;
    margin-top: -70px;
    position: absolute;
}
.art_abt{
	font-size: 22px;
    color: #9e9e9e;
    padding-right: 38px;
    text-align: justify;
}
@media only screen and (max-width: 600px) {
	.art_abt{
	font-size: 22px;
	    color: #9e9e9e;
	    padding-right: 2px;
	    text-align: justify;
	}
}


/** cONTACTO **/
.cont_bg{
	background-color: #71b101;
	padding: 30px;
}

.btn-default {
    color: #fff;
    background-color: #fff0;
    border-color: #fff;
}
.btn-lg, .btn-group-lg > .btn {
    padding: 15px 30px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 2px;
}

.cont_txt{
	color: white;
    border-left: 5px solid white;
    padding-left: 20px

}


.cont_btn{
	margin: 30px;
    float: right;
}



/** formulario **/
.for_bg{
    background-color: #fff;
}
.for_img{
 margin-top: 30px;
/* margin-left: 30px;
 margin-right: 30px;*/
}
.for_text {
    font-size: 46px;
    font-weight: 900;
    margin: 0px;
}
@media only screen and (max-width: 600px) {
    .for_text {
    font-size: 32px;
    font-weight: 900;
    margin: 0px;
}
}
.for_p {
    font-size: 27px;
    font-weight: 300;
    margin: 0px;
    color: grey;
    line-height: 24px;
}
@media only screen and (max-width: 600px) {
        .for_p {
        font-size: 27px;
        font-weight: 300;
        margin: 0px;
        color: grey;
        line-height: 24px;
    }
}


/** MCARD **/
.mcard{
    margin: 50px 0px 30px;
}
.mcard_t{
    font-size: 46px;
    font-weight: 900;
    margin: 0px;
}

.mcard_p{
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0px;
    color: grey;
    line-height: 20px;
}

.mcard_p2{
    font-size: 12px;
    font-weight: 500;
    margin: 0px;
    color: skyblue;
    line-height: 20px;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 10px 10px 15px 0 #d4d4d5, 6px 6px 0 1px #d4d4d5;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
    background-color: #fff;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 35px;
    font-weight: 500;
    line-height: 1.2857em;
    color: #000;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 22px;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    /* padding: 0px 15px; */
    /* color: rgba(0, 0, 0, .4); */
    border-bottom: 2px solid rgb(134, 206, 236) !important;
    background: #fff;
    padding-left: 14px;
    padding-bottom: 10px;
}

.smtext{
    color: #86ceec;
}
.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}

.mcard_list {
    list-style: none;
    color: grey;
    padding: 0px;
}
.mcard_list li{
    display: inline-block;
    padding: 5px;
}





.ncard {
    font-size: 1em;
        background-color: #fff;
    overflow: hidden;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 10px 10px 15px 0 #d4d4d5, 6px 6px 0 1px #d4d4d5;
    border-bottom: 2px solid rgb(134, 206, 236) !important;
}
.ncard_img{
    width: 100%;
    height: auto;
}

.ncard_p{
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0px;
    color: grey;
    line-height: 20px;
}
.ncard-title{
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2857em;
    color: #000;
}

.ncard_list {
    list-style: none;
    color: grey;
    padding: 0px;
    font-size: 14px;
    float: right;
    margin-right: 20px;;
}
.ncard_list li{
    display: inline-block;
    padding: 5px 0px;
}

.ncard-footer {
    font-size: 22px;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    /* padding: 0px 15px; */
    /* color: rgba(0, 0, 0, .4); */
   /* border-bottom: 2px solid rgb(134, 206, 236) !important;*/
    background: #fff;
    padding-left: 14px;
    padding-bottom: 10px;
}

.ncard_btn{
    margin-bottom: 20px;
}
/** footer**/
.social{
    display: inline-block;
    vertical-align: top;
    height: 37px;
    width: 37px;
    line-height: 33px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    margin-right: 10px;
    font-size: 18px;
    color: #0191ce;
    float: center;
    margin-top: 4px;
    background-color: black;
}


.social:hover{
    display: inline-block;
    vertical-align: top;
    height: 37px;
    width: 37px;
    line-height: 33px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    margin-right: 10px;
    font-size: 18px;
    color: white;
    float: center;
    margin-top: 4px;
    background-color: #0191ce;
}
.page-footer {
    padding-top: 20px;
    color: #fff;
    background-color: #343438;
}
.footer-copyright {
    font-weight: 300;
}

.page-footer .footer-copyright {
    overflow: hidden;
    min-height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0px;
    color: rgba(255, 255, 255, 0.8);
    background-color: #151515;
}
.img_foo {
    padding: 15px;
}

.text_foot {
    font-size: 12px;
}
.foo_bt{
    color: white;
    font-size: 16px;
        margin-top: 30px;
}
.abt_img2{
    margin-top: -170px;
}





/*** VIEW ***/

.branch{
    padding-top: 5px;
    font-size: 18px;
    font-weight: 300;
}
.hr{
    border: 0.5px solid;
    color: #0191ce;
}


.list_inm{
   color: #0191ce;
   font-weight: bold;
}

.wrap-input3 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #066bb0;
    margin-bottom: 15px;
}
.ncard_img2 {
    width: 100%;
    height: 250px;
}


/** inmueble **/
.text_inm{
    font-size: 18px;
    text-align: justify;
    margin: 40px 20px;
    font-weight: 300;
    line-height: 28px;
}

.title_inm{
    font-size: 32px;
    margin-bottom: 4px;
    font-weight: 300;
}
.date_inm{
    font-weight: bold;
    font-size: 14px;
    color: #0191cf;
}

.serch{
    font-size: 22px;
    color: #989898;
}

.owl_img{

    height: 350px !important;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #ffffff;
    border-color: #fff;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
     border: 0px solid transparent; 
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.card_list2 {
    list-style: none;
    color: black;
    padding: 0px;
}
.card_list2 li{
    font-size: 18px;
    color: #7cc3e5;
} 
 .span{
    float: right;
 }
.card_list3 {
     list-style: none;
    color: black;
    padding: 0px;
    display: inline-flex;
}

@media only screen and (max-width: 600px) {
    .card_list3 {
         list-style: none;
        color: black;
        padding: 0px;
        display: block;
    }
}

.card_list3 li{
    font-size: 18px;
    text-align: justify;
    margin: 40px 15px;
    font-weight: 300;
    line-height: 28px;
}
.fas{
    color: #0191ce !important;
    padding-left: 10px;
}

.fa_check{
    margin-left: 25px !important;
}

.btn-default {
    color: #00519c;
    background-color: #fff0;
    border-color: #00519c;
    margin: 30px 0px;
    font-size: 19px;
}

.btn-default:hover {
    color: #ffffff;
    background-color: #0191ce;
    border-color: #ffffff;
    margin: 30px 0px;
    font-size: 19px;
}


 .tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}

.tag {
  background: #0191ce;
  border-radius: 3px 0 0 3px;
  color: #fff;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #0191cf;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
   border-left-color: crimson; 
}


